page-home {
  .card-md {
    width: 300px;
    display: block;
    position: relative;
    left: 30%;
<<<<<<< HEAD
    top: 20%;
=======
    top: 30%;
>>>>>>> 1dad4b6446a573e87b68159fb61352433cb06f8d
  }
}
